/* Structural */
html {
  overflow-y: scroll;
}

body {
  font-family: "Open Sans", sans-serif;
}



/* Header */
.header {
  text-align: center;
  padding: 10px;

  color: #fbf8fc;
  background-image: linear-gradient(33deg, #64615C 20%, #AFA18D 100%);
}

h1 {
  font-weight: normal;
  margin: 0 0 10px 0;
  font-size: 32px;
  line-height: 36px;
}

.header-subtitle {
  color: #ccc;
}



/* Input area */
.input-containers {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #E4E0DA;
}

.input-container {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 250px;
  padding: 10px;
  margin: 30px 10px;
  text-align: center;
}

.input-container-compare {
  display: none;
}

.input-group {
  margin: 0 0 10px 0;
}

.field {
}

.field input {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-bottom: none;
  width: 100px;
}

.field:last-child input {
  border-bottom: 1px solid #ccc;
}

.field label {
  display: inline-block;
  min-width: 100px;
  width: 25%;
  font-size: 13px;
  font-weight: 700;
  margin: 0 5px 0 0;
  text-align: right;
}

.input-container button {

}

button {
  font-weight: bold;
}



/* Output area */
.output {
  width: 100%;

  /* Show it with Javascript*/
  display: none;
}

.output-tabs {
  background-color: #E4E0DA;
  text-align: center;
  overflow: hidden;
}

.output-tab {
  display: inline-block;
  background-color: rgba(60, 60, 60, 0.7);
  border-top: 1px solid;
  border-top-color: #ccc;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s, border-top-color 0.5s;
}

.output-tab.selected {
  background-color: rgba(0, 0, 0, 0.75);
  color: #F5CD83;
  border-top-color: #F5CD83;
  cursor: default;
}

.output-contents {
  padding: 25px 5px;
  background-color: #fff;

  text-align: center;
}

.monthly-payment {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.output-contents-table {
  display: none;
}



/* Amortization table */
table {
  margin: 10px auto 0 auto;
  text-align: left;
}

th {
  padding: 2px 10px 2px 10px;
  border-bottom: 2px solid #999;
  background: #fff;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:nth-child(odd) {
  background: #eee;
}

td {
  padding: 2px 10px 2px 10px;
}



/* SVG */
.chart {
  background-color: #f5f5f5;
}

path {
  stroke: #444488;
  stroke-width: 1;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.y.axis text,
.x.axis text {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  fill: #999;
}
